{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <section class="content-block full form">
        <div class="left content">
            <h2>Schrijf je in</h2>
            {{ form_errors(subscribeForm) }}
            {{ form_start(subscribeForm) }}
            {{ form_row(subscribeForm.firstName) }}
            {{ form_row(subscribeForm.lastName) }}
            {{ form_row(subscribeForm.email) }}
            {{ form_row(subscribeForm.interests) }}
            Welke dag had je graag gekomen ?
            {{ form_row(subscribeForm.day) }}
            {{ form_row(subscribeForm.visit) }}
            {% for day in days %}
                <div class="hidden hour-wrapper" data-day-id="{{ day.id }}">
                    {% if day.visitDayHours|length == 0 %}
                        deze dag is reeds volzet gelieve een andere dag te kiezen
                    {% endif %}
                    {% for hour in day.visitDayHours %}
                        <input type="radio" name="subscribe_form[visit]" value="{{ hour.id }}"> {{ hour }}<br>
                    {% endfor %}
                </div>
            {% endfor %}
            {{ form_end(subscribeForm) }}
        </div>
        <div class="right img">
        </div>
    </section>
    <section class="content-block full question">
        <div class="left content">
            <h2>Heb je nog vragen ?</h2>
        </div>
        <div class="right img">
        </div>
    </section>
{% endblock %}
