{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <section class="content-block full form">
        <div class="left content">
            <h2>Schrijf je in</h2>
            {{ form_start(subscribeForm) }}
            {{ form_row(subscribeForm) }}
            {{ form_end(subscribeForm) }}
        </div>
        <div class="right img">
        </div>
    </section>
    <section class="content-block full question">
        <div class="left content">
            <h2>Heb je nog vragen ?</h2>
        </div>
        <div class="right img">
        </div>
    </section>

    {% for day in days %}
        {% for hour in day.visitDayHours %}
            <input type="radio" name="{{ day }}" value="{{ hour.id }}"> {{ hour }}<br>
        {% endfor %}
    {% endfor %}
{% endblock %}
